/* ===== GRID DE PRODUCTOS ===== */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

/* ===== TARJETA ===== */
.product-card {
    background-color:#8b1d2c;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* ===== IMAGEN ===== */
.product-card img {
    width: 100%;
    height: auto;
    max-height: 260px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 15px;
}


/* ===== TEXTO ===== */
.product-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #e6d27a;
}

.product-card p {
    font-size: 0.85rem;
    color: #e6d27a;
    margin: 4px 0;
    letter-spacing: 0.2px;
}


.product-card span {
    font-size: 0.8rem;
    color: #e6d27a;
}
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: #fff;
    border-radius: 18px;
    max-width: 900px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 30px;
    position: relative;
}
.modal-left img {
    width: 100%;
    max-height: 480px;
    object-fit: contain;
    border-radius: 14px;
}
.modal-right h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #2e2e2e;
}

.modal-right p {
    font-size: 1rem;
    margin-bottom: 12px;
}

.modal.hidden {
    display: none;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 16px;
}

.close-modal {
    position: absolute;
    top: 18px;
    right: 22px;
    font-size: 28px;
    cursor: pointer;
}

.product-card img {
    cursor: zoom-in;
}

@media (max-width: 768px) {
    .product-card img {
        max-height: 220px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {
    .modal-content {
        grid-template-columns: 1fr;
        padding: 20px;
    }
}
