/* ===== GRID DE PRODUCTOS ===== */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

/* ===== TARJETA ===== */
.product-card {
    background-color:#1f646b;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* ===== IMAGEN ===== */
.product-card img {
    width: 100%;
    height: auto;
    max-height: 260px;
    object-fit: contain;
    border-radius: 10px;
    margin-bottom: 15px;
}


/* ===== TEXTO ===== */
.product-card h3 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: black;
}

.product-card p {
    font-size: 0.85rem;
    color: black;
    margin: 4px 0;
    letter-spacing: 0.2px;
}


.product-card span {
    font-size: 0.8rem;
    color: black;
}
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 16px;
}

.close-modal {
    position: absolute;
    top: 24px;
    right: 32px;
    font-size: 32px;
    color: white;
    cursor: pointer;
}
.product-card img {
    cursor: zoom-in;
}

@media (max-width: 768px) {
    .product-card img {
        max-height: 220px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
