name: deploy
on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Descargar código del repo
        uses: actions/checkout@v4

      - name: Ver archivos del repo
        run: |
          pwd
          ls -la
      - name: Reiniciar la app con PM2
        env:
          NODE_ENV: production   # <-- Aquí defines la variable de entorno
        run: pm2 restart sereine-app
